<div class="nav-container">

  <!--  Tool Bar-->
  <mat-toolbar color="primary" class="nav-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Canvas Playground</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <!--    Left Menu Items-->
    <mat-sidenav #drawer>
      <mat-nav-list>
        <a mat-list-item routerLink='/moving-circles'><mat-icon>all_out</mat-icon>Moving Circles</a>
      </mat-nav-list>
    </mat-sidenav>
    <!--    Page Content-->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
