.form-container {
  float: left;
  display: flex;
  margin-left: 12px;
  margin-top: 16px;
}

.gradient-config {
  display: flex;
  flex-direction: column;
}

.color-picker {
  width: 20px;
  height: 20px;
}

.clear-canvas-button {
  max-height: 36px;
  margin-left: 24px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
