<!-- Laser config -->
<div class="gradient-config">
  <mat-slide-toggle color="primary" [(ngModel)]="useCustomConfig">
    Customize Laser
  </mat-slide-toggle>

  <ng-container *ngIf="useCustomConfig">
    <div>
      Speed:
      <mat-slider [max]="20"
                  [min]="1"
                  thumbLabel="true"
                  color="primary"
                  [(ngModel)]="customSpeed">
      </mat-slider>
    </div>
    <div>
      Length:
      <mat-slider [max]="300"
                  [min]="10"
                  thumbLabel="true"
                  color="primary"
                  [(ngModel)]="customLength">
      </mat-slider>
    </div>
    <div>
      Width:
      <mat-slider [max]="20"
                  [min]="1"
                  thumbLabel="true"
                  color="primary"
                  [(ngModel)]="customWidth">
      </mat-slider>
    </div>
    <div>
      Color:
      <input class='color-picker' [(colorPicker)]="customColor" [style.background]="customColor"/>
    </div>
  </ng-container>
</div>

<!-- The Canvas!! -->
<canvas #canvas class="canvas" (click)="mouseClick($event)"></canvas>
