.gradient-config {
  float: left;
  margin-left: 12px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.color-picker {
  position: inherit;
  width: 20px;
  height: 20px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: url('../../assets/raygun.png'), auto;
}
